<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.education.mapper.purchase.InquiryProductMapper" >
  <resultMap id="BaseResultMap" type="com.yc.education.model.purchase.InquiryProduct" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="proisnum" property="proisnum" jdbcType="VARCHAR" />
    <result column="proname" property="proname" jdbcType="VARCHAR" />
    <result column="protype" property="protype" jdbcType="VARCHAR" />
    <result column="pronum" property="pronum" jdbcType="INTEGER" />
    <result column="prounit" property="prounit" jdbcType="VARCHAR" />
    <result column="proprice" property="proprice" jdbcType="DOUBLE" />
    <result column="totalprice" property="totalprice" jdbcType="DOUBLE" />
    <result column="proremark" property="proremark" jdbcType="VARCHAR" />
    <result column="expecteddate" property="expecteddate" jdbcType="VARCHAR" />
    <result column="inquiryid" property="inquiryid" jdbcType="BIGINT" />
    <association property="inquiryOrders" javaType="com.yc.education.model.purchase.InquiryOrder">
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="createdate" property="createdate" jdbcType="DATE" />
      <result column="orders" property="orders" jdbcType="VARCHAR" />
      <result column="suppliernum" property="suppliernum" jdbcType="VARCHAR" />
      <result column="suppliername" property="suppliername" jdbcType="VARCHAR" />
      <result column="taxs" property="taxs" jdbcType="INTEGER" />
      <result column="currencys" property="currencys" jdbcType="INTEGER" />
      <result column="replydate" property="replydate" jdbcType="DATE" />
      <result column="validdate" property="validdate" jdbcType="DATE" />
      <result column="purpeopletype" property="purpeopletype" jdbcType="INTEGER" />
      <result column="purpeople" property="purpeople" jdbcType="VARCHAR" />
      <result column="createpeople" property="createpeople" jdbcType="VARCHAR" />
      <result column="shpeople" property="shpeople" jdbcType="VARCHAR" />
      <result column="shdate" property="shdate" jdbcType="VARCHAR" />
      <result column="updatepeople" property="updatepeople" jdbcType="VARCHAR" />
      <result column="updatedate" property="updatedate" jdbcType="VARCHAR" />
      <result column="supplierinfo" jdbcType="VARCHAR" property="supplierinfo" />
      <result column="supplierconcat" jdbcType="VARCHAR" property="supplierconcat" />
      <result column="supplierphone" jdbcType="VARCHAR" property="supplierphone" />
      <result column="supplierfax" jdbcType="VARCHAR" property="supplierfax" />
      <result column="supplieraddress" jdbcType="VARCHAR" property="supplieraddress" />
      <result column="shstatus" property="shstatus" jdbcType="INTEGER" />
      <result column="isdel" property="isdel" jdbcType="INTEGER" />
    </association>
  </resultMap>

  <!--根据询价单查询询价单产品-->
  <select id="findInquiryProductByInquiryid" resultMap="BaseResultMap">
    select * from  inquiry_product where inquiryid =#{inquiryid}
  </select>

  <select id="findInquiryProductPriceSUM" resultType="java.lang.Double">
    select SUM(ip.totalprice) from inquiry_product ip  where ip.inquiryid = #{inquiryid}
  </select>

  <select id="selectInquiryProdutByProductNameAndStartTimeAndEndTime" resultMap="BaseResultMap">
    select * from inquiry_product iip , inquiry_order iio

    <where>
      and iip.inquiryid = iio.id

      and iip.proisnum = #{productName}

      <if test="startTime != null and startTime != ''" >
        and str_to_date(iio.createdate, '%Y-%m-%d') &gt;= str_to_date(#{startTime}, '%Y-%m-%d')
      </if>
      <if test="endTime != null and endTime != ''" >
        and str_to_date(iio.createdate, '%Y-%m-%d') &lt;= str_to_date(#{endTime}, '%Y-%m-%d')
      </if>

    </where>

       order by iio.createdate
  </select>


</mapper>