<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.education.mapper.account.AccountCoastPurchaseMapper" >
  <resultMap id="BaseResultMap" type="com.yc.education.model.account.AccountCoastPurchase" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="otherid" property="otherid" jdbcType="BIGINT" />
    <result column="product_no" property="productNo" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="warehouse_position" property="warehousePosition" jdbcType="VARCHAR" />
    <result column="warehouse_num" property="warehouseNum" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="dollar" property="dollar" jdbcType="DECIMAL" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="rmb_money" property="rmbMoney" jdbcType="DECIMAL" />
    <result column="usd_money" property="usdMoney" jdbcType="DECIMAL" />
  </resultMap>

  <select id="listAccountCoastPurchase" resultMap="BaseResultMap">
    select  * from account_coast_purchase where otherid = #{otherid} order by addtime desc
  </select>

</mapper>