<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.education.mapper.customer.CustomerDataMaintainCarMapper" >
  <resultMap id="BaseResultMap" type="com.yc.education.model.customer.CustomerDataMaintainCar" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="maintain_id" property="maintainId" jdbcType="BIGINT" />
    <result column="lathe_type" property="latheType" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="models" property="models" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="INTEGER" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
  </resultMap>

    <select id="listCustomerDataMaintainCar" resultMap="BaseResultMap">
        SELECT * FROM customer_data_maintain_car
        <where>
            <if test="brand!=''">
                AND brand  like concat(concat('%',#{brand}),'%')
            </if>
        </where>
        ORDER BY addtime desc
    </select>

    <select id="listCustomerDataMaintainCarByMaintainId" resultMap="BaseResultMap">
        SELECT * from customer_data_maintain_car WHERE maintain_id = #{maintainId}
    </select>

    <delete id="deleteCustomerDataMaintainCarByMaintainId">
        DELETE from customer_data_maintain_car where maintain_id = #{maintainId}
    </delete>
</mapper>